@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;

}

body {
    background-image: url("./public/The Blue Lagoon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    padding: 20px;
}

.header-layer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.page-heading {
    font-family: 'Poppins';
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: white;
}

.back-button {
    padding: 5px;
    padding-right: 10px;
    margin-right: 20px;
    border-right: 3px solid white;
}

.back-button:hover {
    cursor: pointer;
}

.brand-logo-container {
    margin-right: 30px;
}

.brand-logo {
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
}

.brand-logo:hover {
    cursor: pointer;
}

.options-container {
    display: flex;
    flex-direction: row;
    ;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 25px;
    /* border: 1px solid black; */
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    width: 20%;
    border: none;
    border-radius: 25px;
    height: 250px;
    background: rgba(255, 255, 255, 0.4);
    padding-bottom: 60px;
}

.option-container:hover {
    background: #326280;
    cursor: pointer;
}

.option-selected {
    display: none;
    width: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.option-selected-wrapper {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.option-icon {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.option-name {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    color: #326280;
    width: 100%;
    text-align: center;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-bottom: 50px;
    margin-right: 50px;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.nav-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #e44b4e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-button:hover {
    cursor: pointer;
}

.main-carousel {
    width: 95%;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.genres-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: fit-content;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 15px;
}

.genre-dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background: none;
    border-bottom: 5px solid #326280;
}


.genre-dropdown,
.genre-dropdown-item {
    padding: 10px;
    border: none;
    background: none;
    color: #326280;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    width: 90%;
    margin-right: 10px;
}

.genre-add-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    padding: 10px;
}

.genre-add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 50px;
    height: 50px;
}

.selected-genres-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    margin-top: 20px;
    padding: 10px;
}

.no-genre-selected {
    width: 100%;
    text-align: center;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    color: #326280;
}

.selected-genre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid #326280;
}

.genre-name {
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    color: #326280;
    width: 80%;
    text-align: left;
    margin-right: 10px;
}

.genre-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-delete {
    background: none;
    border: none;
}

#landing-image{
    height: 90vh;
    width: 100%;
    background-image: url('/images/landingpage.png');
    background-size: cover;
}
@media (max-width:786px){
    #landing-image{
        background-image: url('/images/landingpage2.png');
    }
}
#landing-image button{
    position: fixed;
    right: 5vw;
    top: 65vh;
    border: 2px solid #ce6a6b;
    font-size: larger;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.25);
}
#about-us{
    width: 80vw;
    justify-content: center;
    text-align: justify;
    margin-left: 10%;
    
}
#footer{
    border-top: solid 5px #212e53;
}
#socials{
    margin-left: 9.5%;
    margin-top: 2%;
}
#socials div{
    padding: 5px;
}
/* login/register code starts*/
.login,
.register {
    width: 400px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.65);
    mix-blend-mode: normal;
    backdrop-filter: blur(30px);
}

.login input[type='submit'],
.register input[type='submit'] {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.login h1,
.register h1 {
    text-align: center;
    color: #212e53;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login .links,
.register .links {
    display: flex;
    padding: 0 15px;
}

.login .links a,
.register .links a {
    color: #212e53;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}

.login .links a:hover,
.register .links a:hover {
    color: #ce6a6b;
}

.login .links a.active,
.register .links a.active {
    border-bottom: 3px solid #212e53;
    color: #212e53;
}

.login form,
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}

.login form label,
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #212e53;
    color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"],
.login form input[type="email"],
.register form input[type="password"],
.register form input[type="text"],
.register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"],
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #212e53;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
    background-color: #ce6a6b;
    transition: background-color 0.2s;
}

#responsecontainer {
    width: 400px;
    height: 40px;
    /* border: black solid; */
    display: flex;
    justify-content: right;
}


/* ends */
body {
    background-image: url('/images/The\ Blue\ Lagoon.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.flex {
    display: flex;
    gap: var(--gap, 0.5rem);
}

/*navigation css*/
.primary-header {
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    font-size: 1.5vw;
}

.logo {
    height: 8vw;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
}

#searchbar[bar-visible='false'],
#searchbar[bar-visible='true'] {
    display: block;
    position: fixed;
    left: 33vw;
    border: none;
    background: #FFFFFF;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 17px;
    width: 70vw;
    height: 40px;
    transition: transform 350ms ease;
}

#searchbar[bar-visible='false'] {
    z-index: 0;
    transform: translateY(0%);

}

#searchbar[bar-visible='true'] {
    z-index: 800;
    transform: translateY(200%);
}

#searchbar:focus {
    background-color: rgba(219, 219, 219, 0.815);
    border: none;
}

.mobile-nav-toggle {
    display: none;
    margin-left: 50%;
    margin-top: 2%;
}

.primary-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    background: hsl(0 0% 0% / 0.5);
    width: fit-content;
    box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.25);

}

.main-body {
    color: #212e53;
}

@supports (backdrop-filter: blur(3rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(3rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a>span {
    font-weight: 700;
    margin-inline-end: .75em
}

.welcome {
    padding-left: 3%;
}

.main-widget {
    background: rgba(255, 255, 255, 0.65);
    mix-blend-mode: normal;
    backdrop-filter: blur(30px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px 30px 0px 0px;
    padding: 0.5rem;
    margin-top: 5%;
    padding-top: 17px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.main-widget h2 {
    color: #212e53;
    padding-left: 0%;
}

#booklist,
#movielist,
#animelist {
    padding-left: 3%;
    padding-right: 3%;
}

#genre-form,
#no-genre,
#selected-genres {
    padding: 2rem;
    text-align: center;
    align-items: center;
}

#selected-genres {
    margin-left: auto;
    margin-right: auto;
}

button {
    color: white;
    padding: 6px;
    background-color: #ce6a6b;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
}

.welcome h1 {
    font-weight: 800;
    color: #326280;
    text-shadow: 1px 2px 1px rgba(50, 98, 128, 0.25);
}

.welcome h3 {
    color: #CE6A6B
}

.slider {
    height: 300px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.slider img {
    min-width: 150px;
    max-width: 150px;
    height: 230px;
    background-size: cover;
    padding: 10px;
    border-radius: 1.5rem;
    filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.25));
    transition: 0.5s ease;
    z-index: 2;
}

.slider img:hover {
    transform: scale(1.2);
    z-index: 5;
}

.slider-button-left,
.slider-button-right {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 100;
}

#movie-slider .slider-button-left,
#movie-slider .slider-button-right {
    top: 240px;
}

#book-slider .slider-button-left,
#book-slider .slider-button-right {
    top: 600px;
}

.slider-button-left {
    left: 1%;
}

.slider-button-right {
    right: 1%;

}

button:hover {
    background-color: #964f50;

}

.rec-main .main-widget {
    border-radius: 0;
    background: rgba(255, 255, 255, 0.35);
}

.search-main .main-widget {
    background: rgba(255, 255, 255, 0.35);
}

#info-widget {
    display: flex;
}

#info-widget img{
    border-radius: 1.5rem;
    margin: 8%;
    margin-top: 15%; 
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
    height: 400px;
    width: 260px;
}

#info-widget table {
    flex-direction: column;
    color: #212e53;
    padding: 20px;
    font-size: 1em;
    margin: 8%;
}
/* .infopg img{
    margin-top: 25%;
} */
#info-widget td {
    padding: 5px;
}
.search-main img{
    height: 230px;
    width: 140px;
}

.submit-button {
    margin-top: 15px;
}

#success-message {
    margin-left: 3%;
    color: #212e53;
    margin-top: 2%;
}

#ratings-form {
    color: #212e53;
}

#ratings-form h3 {
    margin-left: 3%;
}

.ratings-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 12px;
    padding: 10px;
    padding-left: 0;
    text-align: center;
    margin-left: 3%;
}

#ratings-radio {
    display: flex;
    flex-direction: column;
    padding-right: 2em;
}

.ratings-radio input {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

#rate-comments {
    width: 95%;
    border: none;
    border-radius: 0.6rem;
    height: 50px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    padding: 10px;
    margin-left: 3%;
}

.rec-main h2 {
    margin-left: 3%;
}

#media-title {
    margin-left: 2%;
}
#empty-list{
    text-align: center;
    width: 100%;
}
#empty-list a{
    font-weight: 700;
    text-decoration: none;
    color: #212e53;
}
#empty-list a:hover{
   color: #ce6a6b;
}

#list-button{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
#list-button button{
    width: 260px;
    margin: 0;
    margin-top: 10px;
}
@media (max-width:323px){
    .mobile-nav-toggle{
        margin-left: 40%;
    }
    .logo{
        margin-left: 14%;
    }
}
@media (max-width:375px){
    
    .logo{
        margin-left: 19%;
    }
}
@media (max-width:35em) {
    .primary-header {
        width: auto;
        justify-content:initial;
    }

    .primary-navigation {
        margin-left: 0;
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        /*shorthand for top right bottom left*/
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        /*min function chooses the minimum value according to the screen*/
        transform: translateX(150%);
        transition: transform 350ms ease-out;
        width: auto;
        font-size: 16px;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    #toggle-button {
        display: block;
        z-index: 9999;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        width: 2rem;
        z-index: 9999;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        background: transparent;
        border: none;
        left: 70vw;
    }

    #searchbutton {
        display: none;
    }

    #searchbar[bar-visible='true'],
    #searchbar[bar-visible='false'] {
        display: block;
        width: 55vw;
        height: 36px;
        top: 35px; 
        left: 20vw; 
        transform: translateY(0%);
    }

    .ratings-box,
    .add-to-list-button {
        justify-content: center;
    }
    #ratings-form h3, #media-title{
        text-align: center;
    }
    #info-widget img{
        height: 40vh;
        width: 32vw;
        margin-top: 10vw;
        border-radius: 30px;
    }
    #info-widget td{
        font-size: 3vw;
    }
    .logo{
        min-height: 36px;
    }
    #list-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #list-button button{
        width: 150px;
        margin: 0;
        margin-top: 10px;
    }
    #empty-list{
        font-size: 12px;
    }
}

@media (min-width:35em) {
    .primary-navigation {
        --gap: 3rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}